@font-face {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.page-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-container {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .page-container {
    width: 1440px;
    margin: 0 auto;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button-order {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  width: 280px;
  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
}
.button-order:active {
  background-color: #5eaa2f;
}
.button-order:active:active span {
  opacity: 0.3;
}
.button-order:hover {
  background-color: #5eaa2f;
}
.menu-services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
  .menu-services-list {
    display: flex;
    text-align: unset;
  }
}
@media (min-width: 1440px) {
  .menu-services-list {
    display: flex;
    text-align: unset;
  }
}
.menu-services__item {
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .menu-services__item {
    border: none;
    padding: 0;
    margin-right: 34px;
  }
  .menu-services__item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .menu-services__item {
    margin-right: 34px;
  }
  .menu-services__item:last-child {
    margin-right: 0;
  }
}
.menu-services__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.menu-services__link:active {
  opacity: 0.6;
}
.menu-services__link:hover {
  opacity: 0.3;
}
.menu-services__link:focus-visible {
  border-bottom: 2px solid #68b738;
  outline: none;
}
@media (min-width: 768px) {
  .menu-services__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .menu-services__link {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
}
.active-link {
  cursor: none;
  padding-bottom: 8px;
  border-bottom: 2px solid #68b738;
}
@media (min-width: 1440px) {
  .active-link {
    border-bottom: 2px solid #68b738;
  }
}
.main-header {
  display: flex;
  align-items: center;
  width: 280px;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-header {
    margin: 0 auto;
    padding: 0;
    padding-top: 34px;
    width: 708px;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .main-header {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    padding-top: 53px;
    display: flex;
  }
}
.main-header__navigation-toggle {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  position: relative;
}
@media (min-width: 768px) {
  .main-header__navigation-toggle {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-header__navigation-toggle {
    display: none;
  }
}
.main-header__navigation--close .main-header__navigation-toggle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../../img/header-img/menu-closed.svg");
  background-repeat: no-repeat;
}
.main-header__navigation--open .main-header__navigation-toggle::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-image: url("../../../img/header-img/menu-opened.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .main-header__navigation {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .main-header__navigation {
    margin-left: 540px;
  }
}
.main-header__navigation-wrapper {
  min-width: 320px;
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header__navigation-wrapper {
    position: relative;
    z-index: 0;
    min-width: 440px;
  }
}
@media (min-width: 1440px) {
  .main-header__navigation-wrapper {
    min-width: 478px;
  }
}
@media (max-width: 767px) {
  .main-header__navigation--close .main-header__navigation-wrapper {
    display: none;
  }
}
.main-header__navigation--nojs .main-header__navigation-toggle {
  display: none;
}
.main-header__navigation--nojs .main-header__navigation-wrapper {
  position: static;
  min-height: 0;
}
.main-header__navigation--nojs .menu-services__item {
  display: block;
}
.main-header__navigation--nojs .menu-services__item--active a {
  border-bottom: 2px solid #68b738;
}
@media (min-width: 1440px) {
  .main-footer {
    position: relative;
  }
}
.adress-footer {
  padding: 26px 20px;
  display: flex;
}
@media (min-width: 768px) {
  .adress-footer {
    padding: 56px 70px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .adress-footer {
    padding: 56px 80px;
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    top: 93px;
    left: 110px;
  }
}
.adress-footer__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: left;
}
@media (min-width: 768px) {
  .adress-footer__text {
    display: block;
    width: 171px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .adress-footer__text {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-right: 74px;
  }
}
.adress-footer__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  text-align: end;
}
@media (min-width: 768px) {
  .adress-footer__adress {
    width: 160px;
    display: block;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .adress-footer__adress {
    font-size: 16px;
    line-height: 20px;
  }
}
.adress-footer__map iframe {
  border: none;
  display: block;
  width: 320px;
  height: 362px;
}
@media (min-width: 768px) {
  .adress-footer__map iframe {
    border: none;
    display: block;
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .adress-footer__map iframe {
    border: none;
    display: block;
    width: 1440px;
    height: 400px;
  }
}
.main-footer {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-footer {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .main-footer {
    width: 1440px;
    margin: 0 auto;
  }
}
.main-footer__links {
  background-color: #f2f2f2;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer__links {
    padding: 58px 30px 55px 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-footer__links {
    display: flex;
    align-items: center;
  }
}
.main-footer__links-logo {
  position: relative;
  padding-bottom: 32px;
}
.main-footer__links-logo::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  top: 56px;
  left: -70px;
}
@media (min-width: 768px) {
  .main-footer__links-logo {
    padding: 0;
  }
  .main-footer__links-logo::after {
    display: none;
  }
}
.main-footer__links-logo:hover {
  opacity: 0.8;
}
.main-footer__links-logo:active {
  opacity: 0.3;
}
.social-links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-links__list::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  top: 56px;
  left: -71px;
}
@media (min-width: 768px) {
  .social-links__list {
    padding: 0;
  }
  .social-links__list::before {
    display: none;
  }
}
.social-links__item {
  margin-right: 24px;
}
.social-links__item:last-child {
  margin-right: 0;
}
.social-links__svg {
  fill: #666666;
}
.social-links__button:hover .social-links__svg {
  fill: #68b738;
}
.social-links__button:active .social-links__svg {
  fill: #68b738;
  opacity: 0.3;
}
.academy-link {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .academy-link {
    padding: 0;
  }
}
.academy-link__text {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-right: 140px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .academy-link__text {
    margin-right: 22px;
  }
}
.academy-link__logo svg {
  fill: #666666;
}
.academy-link:hover .academy-link__logo svg {
  fill: #68b738;
}
.academy-link:active .academy-link__logo svg,
.academy-link:active .academy-link__text {
  fill: #68b738;
  opacity: 0.3;
}
.promo {
  background-color: rgba(104, 183, 56, 0.85);
  position: relative;
}
.promo::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 302px;
  background-image: url("../../../img/promo-cat.jpg");
  background-repeat: no-repeat;
  z-index: -1;
}
@media (min-width: 768px) {
  .promo {
    background-color: inherit;
  }
  .promo::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .promo {
    background-color: rgba(104, 183, 56, 0.85);
    width: 720px;
    position: relative;
    margin-bottom: 82px;
  }
  .promo::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 302px;
    background-image: url("../../../img/promo-cat.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.promo__container {
  width: 320px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .promo__container {
    width: 709px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .promo__container {
    width: 1220px;
    margin: 0 auto;
  }
}
.promo__title {
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__title {
    margin: 0;
    margin-top: 62px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    width: 525px;
    padding-top: 111px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}
.promo__subtitle {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 29px;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promo__subtitle {
    padding: 0;
    margin: 0;
    margin-bottom: 52px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
  }
}
.promo__image {
  display: block;
}
@media (min-width: 1440px) {
  .promo__image {
    position: absolute;
    left: 500px;
    bottom: 54px;
  }
}
.promo__link-programm {
  width: 280px;
}
@media (min-width: 768px) {
  .promo__link-programm {
    width: 244px;
    padding: 14px 26px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .promo__link-programm {
    width: 244px;
    padding: 14px 26px;
    box-sizing: border-box;
  }
}
.programm-offer {
  width: 320px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programm-offer {
    width: 768px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .programm-offer {
    width: 1220px;
    display: flex;
    margin-bottom: 71px;
  }
}
.programm-offer__weight-change {
  background-color: #f2f2f2;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .programm-offer__weight-change {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__weight-change {
    width: 570px;
  }
}
.programm-offer__wrapper {
  padding: 30px 33px 18px 20px;
}
@media (min-width: 768px) {
  .programm-offer__wrapper {
    padding: 77px 62px 52px 52px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__wrapper {
    padding: 41px 50px 50px 50px;
  }
}
.programm-offer__weight-change:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programm-offer__weight-change:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__weight-change:not(:last-child) {
    margin-bottom: 0;
  }
}
.programm-offer__title {
  margin: 0;
  margin-bottom: 29px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
@media (min-width: 768px) {
  .programm-offer__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.programm-offer__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .programm-offer__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__description {
    font-size: 16px;
    line-height: 24px;
  }
}
.programm-offer__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.programm-offer__link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 12px;
  background-image: url("../../../img/arrow-black.svg");
  top: 2px;
  left: 124px;
}
@media (min-width: 768px) {
  .programm-offer__link {
    font-size: 20px;
    line-height: 30px;
    padding: 4px 57px 8px 0;
  }
  .programm-offer__link::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background-image: url("../../../img/arrow-black.svg");
    top: 8px;
    left: 165px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__link {
    font-size: 20px;
    line-height: 30px;
  }
  .programm-offer__link::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background-image: url("../../../img/arrow-black.svg");
    top: 8px;
    left: 165px;
  }
}
.programm-offer__link:hover::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 12px;
  background-image: url("../../../img/arrow-black-hover.svg");
  top: 8;
  left: 165px;
}
.programm-offer__link:active {
  opacity: 0.3;
}
.programm-offer__link:active::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  background-image: url("../../../img/arrow-black-hover.svg");
  top: 8;
  left: 165px;
}
.instruction {
  margin-bottom: 49px;
  width: 320px;
}
@media (min-width: 768px) {
  .instruction {
    width: 768px;
    margin-bottom: 45px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .instruction {
    width: 1220px;
    margin-bottom: 26px;
    padding: 0 110px;
  }
}
.instruction__title {
  font-style: normal;
  font-weight: 400;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .instruction__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .instruction__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.instruction__description-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .instruction__description-list {
    display: grid;
    grid-template-columns: 245px 245px;
    column-gap: 136px;
    row-gap: 38px;
  }
}
@media (min-width: 1440px) {
  .instruction__description-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .instruction__description-item {
    width: 250px;
  }
}
.instruction__description-item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .instruction__description-item:not(:last-child) {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .instruction__description-item:not(:last-child) {
    margin: 0;
  }
}
.instruction__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.special {
  background-color: #eaeaea;
  padding-bottom: 40px;
  width: 100%;
}
@media (min-width: 768px) {
  .special {
    background-color: inherit;
  }
}
@media (min-width: 1440px) {
  .special {
    background-color: #eaeaea;
    display: flex;
  }
}
.special__text-wrapper {
  padding: 25px 20px 20px 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .special__results-block {
    display: flex;
    align-items: baseline;
  }
  .special__results-block .special__results {
    margin-right: 120px;
  }
}
@media (min-width: 1440px) {
  .special__results-block {
    display: flex;
    flex-direction: column;
  }
}
.special__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .special__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .special__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 76px;
  }
}
.special__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
  width: 280px;
}
@media (min-width: 768px) {
  .special__description {
    width: 708px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .special__description {
    width: 436px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
  }
}
@media (min-width: 768px) {
  .special__wrapper-background {
    background-color: #eaeaea;
  }
}
.special__wrapper-slider {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .special__wrapper-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -56px;
    margin-bottom: 25px;
  }
}
.special__image-wrapper {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .special__image-wrapper {
    display: flex;
    margin-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .special__image-wrapper {
    display: flex;
    margin-bottom: 25px;
  }
}
.special__image-after {
  display: none;
}
@media (min-width: 768px) {
  .special__image-after {
    display: block;
  }
}
@media (min-width: 1440px) {
  .special__image-after {
    display: block;
  }
}
.special-subtitle {
  font-family: "Oswald", sans-serif;
  font-style: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .special-subtitle {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .special-subtitle {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
.results-list {
  display: flex;
}
.result-list {
  margin-bottom: 20px;
  margin-right: 57px;
}
.result-list:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .result-list {
    margin-bottom: 80px;
    margin-right: 42px;
    width: 162px;
    height: 72px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
  }
  .result-list:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .result-list {
    margin-bottom: 55px;
    margin-right: 42px;
  }
  .result-list:last-child {
    margin-right: 0;
  }
}
.results-list__results {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .results-list__results {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}
.results-list__results-description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
}
.range-button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
}
@media (min-width: 768px) {
  .range-button {
    padding: 4px 10px 1px 10px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed #cdcdcd;
  }
}
@media (min-width: 768px) {
  .range-changes__range-bar {
    width: 426px;
  }
}
.main-inner-container__title {
  margin: 0;
  padding: 0 40px;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .main-inner-container__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 82px;
  }
}
@media (min-width: 1440px) {
  .main-inner-container__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 74px;
    margin-bottom: 84px;
  }
}
.catalog {
  margin-bottom: 50px;
}
.catalog__product-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .catalog__product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog__product-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 40px;
  }
}
@media (min-width: 768px) {
  .catalog__product {
    width: 324px;
  }
}
@media (min-width: 1440px) {
  .catalog__product {
    width: 245px;
    margin-right: 80px;
  }
}
.catalog__title-link,
.catalog__image-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}
.catalog__product-order {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  width: 280px;
  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
}
.catalog__show-more {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
}
.catalog__show-more-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.catalog__show-more-subtitle {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.catalog__show-more-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #f2f2f2;
}
.properties-list {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 13px;
}
.other-product {
  margin-bottom: 35px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .other-product {
    padding: 0 30px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1440px) {
  .other-product {
    margin-bottom: 86px;
  }
}
.other-product__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .other-product__wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .other-product__wrapper {
    display: flex;
    flex-direction: row;
  }
}
.other-product__title {
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .other-product__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .other-product__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }
}
.other-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.other-product__item:not(:last-child) {
  margin-bottom: 31px;
}
.other-product__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
.other-product__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  width: 280px;
  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
}
.properties-other-product {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.gift {
  background-color: rgba(104, 183, 56, 0.85);
  height: 280px;
}
@media (min-width: 768px) {
  .gift {
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .gift {
    height: 288px;
    width: 245px;
  }
}
.gift__text {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.program {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .program {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .program {
    display: flex;
    flex-direction: column;
    width: 1220px;
    padding: 0 110px;
  }
}
.program__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .program__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .program__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 56px;
  }
}
.program__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .program__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 66px;
    width: 323px;
  }
}
@media (min-width: 1440px) {
  .program__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 66px;
    width: 323px;
  }
}
.program__postscript {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .program__postscript {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .program__postscript {
    font-size: 16px;
  }
}
.program-form,
.program-form__info,
.program-form__info-owner {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .program-form__wrapper {
    display: flex;
  }
}
.program-form__offer {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}
.program-form__info-owner {
  margin-bottom: 22px;
}
.program-form__comment {
  margin-bottom: 22px;
}
.program-form__other-product {
  margin-bottom: 21px;
}
.program-form__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  width: 280px;
  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 21px;
}
.information-cat {
  margin-bottom: 50px;
}
.information-cat label {
  color: #444444;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .information-cat label {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .information-cat label {
    font-size: 20px;
    line-height: 30px;
  }
}
.offer-select__label {
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .offer-select__label {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .offer-select__label {
    font-size: 20px;
    line-height: 30px;
  }
}
.information-owner__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .information-owner__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .information-owner__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.information-owner label {
  color: #444444;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .information-owner label {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .information-owner label {
    font-size: 20px;
    line-height: 30px;
  }
}
.other-product-list__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .other-product-list__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .other-product-list__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.other-product-list__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .other-product-list__wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .other-product-list__wrapper {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .other-product-list__label {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .other-product-list__label {
    font-size: 20px;
    line-height: 30px;
  }
}
.other-product-list input {
  margin-bottom: 20px;
}
.comment-text__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .comment-text__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .comment-text__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.comment-text__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */
