@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.page-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-container {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .page-container {
    width: 1440px;
    margin: 0 auto;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button-order {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
}
.button-order:active {
  background-color: #5eaa2f;
}
.button-order:active:active span {
  opacity: 0.3;
}
.button-order:hover {
  background-color: #5eaa2f;
}
.menu-services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
  .menu-services-list {
    width: 440px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 35px;
  }
}
@media (min-width: 1440px) {
  .menu-services-list {
    width: 478px;
    gap: 32px;
  }
}
.menu-services__item {
  padding-top: 22px;
  padding-bottom: 19px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}
@media (min-width: 768px) {
  .menu-services__item {
    border: none;
    padding: 0;
  }
}
.menu-services__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.menu-services__link:active {
  opacity: 0.6;
}
.menu-services__link:hover {
  opacity: 0.3;
}
.menu-services__link:focus-visible {
  border-bottom: 2px solid #68b738;
  outline: none;
}
@media (min-width: 768px) {
  .menu-services__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .menu-services__link {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
}
.active-link--index {
  cursor: default;
  padding-bottom: 8px;
  border-bottom: 2px solid #68b738;
}
@media (min-width: 1440px) {
  .active-link--index {
    border-bottom: 2px solid #ffffff;
  }
}
@media (min-width: 1440px) {
  .menu-services__link--index {
    color: #ffffff;
  }
}
.active-link {
  cursor: default;
  padding-bottom: 8px;
  border-bottom: 2px solid #68b738;
}
.main-header {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .main-header {
    padding: 0;
    padding-top: 34px;
    margin-bottom: 0;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 54px 110px 0 110px;
    width: 1220px;
  }
}
.main-header__navigation-toggle {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  position: relative;
}
@media (min-width: 768px) {
  .main-header__navigation-toggle {
    display: none;
  }
}
.main-header__navigation--close .main-header__navigation-toggle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/header-img/menu-closed.svg");
  background-repeat: no-repeat;
}
.main-header__navigation--open .main-header__navigation-toggle::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-image: url("../img/header-img/menu-opened.svg");
  background-repeat: no-repeat;
}
.main-header__logo-wrapper {
  width: 190px;
  height: 38px;
  margin-right: 65px;
}
@media (min-width: 768px) {
  .main-header__logo-wrapper {
    width: 174px;
    height: 52px;
    margin-right: 94px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo-wrapper {
    width: 202px;
    height: 59px;
    margin-right: 540px;
  }
}
.main-header__cat-enegry-logo {
  min-width: 190px;
  min-height: 38px;
}
@media (min-width: 768px) {
  .main-header__cat-enegry-logo {
    min-width: 174px;
    min-height: 52px;
  }
}
@media (min-width: 1440px) {
  .main-header__cat-enegry-logo {
    min-width: 202px;
    min-height: 59px;
  }
}
.main-header__cat-enegry-logo:hover {
  opacity: 0.8;
}
.main-header__cat-enegry-logo:active {
  opacity: 0.6;
}
.main-header__navigation-wrapper {
  min-width: 320px;
  position: absolute;
  right: 0;
  top: 61px;
  z-index: 10;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header__navigation-wrapper {
    top: 0;
    position: relative;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .main-header__navigation-wrapper {
    min-width: 478px;
    z-index: 1;
    background-color: inherit;
  }
}
@media (max-width: 767px) {
  .main-header__navigation--close .main-header__navigation-wrapper {
    display: none;
  }
}
.main-header__navigation--nojs .main-header__navigation-toggle {
  display: none;
}
.main-header__navigation--nojs .main-header__navigation-wrapper {
  position: static;
  min-height: 0;
}
.main-header__navigation--nojs .menu-services__item {
  display: block;
}
.main-header__navigation--nojs .menu-services__item--active a {
  border-bottom: 2px solid #68b738;
}
@media (min-width: 1440px) {
  .main-footer {
    position: relative;
  }
}
.adress-footer {
  padding: 26px 20px;
  display: flex;
}
@media (min-width: 768px) {
  .adress-footer {
    padding: 61px 70px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .adress-footer {
    padding: 56px 80px;
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    top: 93px;
    left: 110px;
  }
}
@media (min-width: 768px) {
  .adress-footer__adress-index {
    margin-top: 18px;
    display: block;
  }
}
.adress-footer__catalog {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .adress-footer__catalog {
    background-color: #ffffff;
  }
}
.adress-footer__text {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: left;
  width: 139px;
}
@media (min-width: 768px) {
  .adress-footer__text {
    display: block;
    width: 171px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .adress-footer__text {
    margin-right: 74px;
  }
}
.adress-footer__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  text-align: left;
  width: 139px;
}
@media (min-width: 768px) {
  .adress-footer__adress {
    width: 160px;
    display: block;
    font-size: 16px;
  }
}
.adress-footer__map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 362px;
}
@media (min-width: 768px) {
  .adress-footer__map iframe {
    height: 400px;
  }
}
.main-footer__background {
  background-color: #f2f2f2;
}
.main-footer__links {
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer__links {
    padding: 58px 30px 55px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-footer__links {
    margin: 0 auto;
    width: 1220px;
  }
}
.main-footer__links-logo {
  position: relative;
  padding-bottom: 32px;
}
.main-footer__links-logo::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  top: 56px;
  left: -70px;
}
@media (min-width: 768px) {
  .main-footer__links-logo {
    padding: 0;
  }
  .main-footer__links-logo::after {
    display: none;
  }
}
.main-footer__links-logo:hover {
  opacity: 0.8;
}
.main-footer__links-logo:active {
  opacity: 0.3;
}
.social-links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: relative;
  padding-top: 14px;
  padding-bottom: 20px;
}
.social-links__list::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  top: 56px;
  left: -71px;
}
@media (min-width: 768px) {
  .social-links__list {
    margin-left: 22px;
    padding: 0;
  }
  .social-links__list::before {
    display: none;
  }
}
.social-links__item {
  margin-right: 24px;
}
.social-links__item:last-child {
  margin-right: 0;
}
.social-links__svg {
  fill: #666666;
}
.social-links__button:hover .social-links__svg {
  fill: #68b738;
}
.social-links__button:active .social-links__svg {
  fill: #68b738;
  opacity: 0.3;
}
.academy-link {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .academy-link {
    padding: 0;
  }
}
.academy-link__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-right: 139px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .academy-link__text {
    margin-right: 22px;
  }
}
.academy-link__logo svg {
  fill: #666666;
}
.academy-link:hover .academy-link__logo svg {
  fill: #68b738;
}
.academy-link:active .academy-link__logo svg,
.academy-link:active .academy-link__text {
  fill: #68b738;
  opacity: 0.3;
}
@media (min-width: 1440px) {
  .promo {
    margin-bottom: 82px;
  }
}
.promo__background {
  width: 320px;
  height: 302px;
  position: absolute;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat-mobile.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  z-index: -3;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo__background {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat-mobile@2x.jpg");
    background-size: 320px auto;
  }
}
@media (min-width: 768px) {
  .promo__background {
    display: none;
  }
}
@media (min-width: 1440px) {
  .promo__background {
    width: 100vw;
    height: 696px;
    display: block;
    left: 720px;
    top: -141px;
    position: absolute;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat-desktop.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    z-index: -1;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo__background {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat-desktop@2x.jpg");
    background-size: 720px auto;
  }
}
.promo__container {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .promo__container {
    width: 709px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .promo__container {
    width: 1220px;
    flex-direction: row;
  }
}
.promo__text-block {
  z-index: 1;
}
.promo__title {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding-top: 62px;
    padding-left: 87px;
    margin-bottom: 42px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    margin-bottom: 40px;
    padding: 0;
    padding-top: 111px;
  }
}
.promo__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 29px;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    padding: 0;
    padding-left: 89px;
    margin-bottom: 19px;
  }
}
@media (min-width: 1440px) {
  .promo__subtitle {
    margin-bottom: 52px;
  }
}
.promo__delivery-block {
  margin: 0 auto;
  z-index: 1;
}
@media (min-width: 768px) {
  .promo__delivery-block {
    position: relative;
    margin: 0;
  }
}
.promo__image {
  display: block;
  z-index: 1;
}
@media (min-width: 768px) {
  .promo__image {
    min-width: 709px;
    min-height: 609px;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    min-width: 552px;
    min-height: 499px;
  }
}
.promo__link-programm {
  margin-top: 3px;
  width: 280px;
  height: 40px;
}
@media (min-width: 768px) {
  .promo__link-programm {
    font-size: 20px;
    line-height: 20px;
    height: 54px;
    width: 244px;
    top: 26px;
    left: 89px;
    padding: 15px 26px;
    position: absolute;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .promo__link-programm {
    left: 124px;
  }
}
.programm-offer {
  width: 320px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programm-offer {
    width: 768px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .programm-offer {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    margin-bottom: 71px;
  }
}
.programm-offer__weight-change {
  background-color: #f2f2f2;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .programm-offer__weight-change {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__weight-change {
    width: 570px;
  }
}
.programm-offer-weight-loss {
  background-image: url("../img/cat-weight-loss.svg");
  background-repeat: no-repeat;
  background-position: 22px 21px;
  background-size: 50px 53px;
}
@media (min-width: 768px) {
  .programm-offer-weight-loss {
    background-position: 446px 81px;
    background-size: auto;
  }
}
@media (min-width: 1440px) {
  .programm-offer-weight-loss {
    background-position: 52px 41px;
    background-size: 100px 106px;
  }
}
.programm-offer-weight-gain {
  background-image: url("../img/cat-weight-gain.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;
  background-size: 67px 50px;
}
@media (min-width: 768px) {
  .programm-offer-weight-gain {
    background-position: 412px 91px;
    background-size: auto;
  }
}
@media (min-width: 1440px) {
  .programm-offer-weight-gain {
    background-position: 33px 47px;
    background-size: 134px 100px;
  }
}
.programm-offer__wrapper {
  padding: 30px 33px 18px 20px;
}
@media (min-width: 768px) {
  .programm-offer__wrapper {
    padding: 77px 62px 56px 52px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__wrapper {
    padding: 77px 50px 50px 50px;
  }
}
.programm-offer__weight-change:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programm-offer__weight-change:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__weight-change:not(:last-child) {
    margin-bottom: 0;
  }
}
.programm-offer__title {
  font-family: "Oswald", sans-serif;
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
@media (min-width: 768px) {
  .programm-offer__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__title {
    margin-bottom: 73px;
    margin-left: 214px;
  }
}
.programm-offer__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .programm-offer__description {
    font-size: 16px;
    line-height: 24px;
    margin-right: 254px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1440px) {
  .programm-offer__description {
    margin: 0;
    margin-bottom: 23px;
  }
}
.programm-offer__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.programm-offer__link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 12px;
  background-image: url("../img/arrow-black.svg");
  background-repeat: no-repeat;
  top: 6px;
  left: 100px;
}
@media (min-width: 768px) {
  .programm-offer__link {
    font-size: 20px;
    line-height: 30px;
    padding: 4px 48px 4px 0;
  }
  .programm-offer__link::before {
    top: 12px;
    left: 133px;
  }
}
.programm-offer__link:hover::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 12px;
  background-image: url("../img/arrow-black-hover.svg");
  background-repeat: no-repeat;
  top: 8;
  left: 133px;
}
.programm-offer__link:active {
  opacity: 0.3;
}
.instruction {
  margin: 0 auto;
  margin-bottom: 49px;
  padding: 0 20px;
  width: 280px;
}
@media (min-width: 768px) {
  .instruction {
    margin-bottom: 90px;
    padding: 0 30px;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .instruction {
    width: 1220px;
    margin-bottom: 26px;
    padding: 0 110px;
  }
}
.instruction__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .instruction__title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .instruction__title {
    text-align: start;
  }
}
.instruction__description-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .instruction__description-list {
    display: grid;
    grid-template-columns: 245px 245px;
    column-gap: 136px;
    row-gap: 38px;
  }
}
@media (min-width: 1440px) {
  .instruction__description-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.instruction__description-item {
  position: relative;
  height: 60px;
}
@media (min-width: 768px) {
  .instruction__description-item {
    padding-top: 40px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .instruction__description-item {
    width: 250px;
  }
}
.instruction__description-item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .instruction__description-item:not(:last-child) {
    margin: 0;
  }
}
.instruction__description-item-one {
  background-image: url("../img/instruction-list/item-one.jpg");
  background-repeat: no-repeat;
  background-size: 61px 60px;
}
@media (min-width: 768px) {
  .instruction__description-item-one {
    background-image: url("../img/instruction-list/item-one-big.jpg");
    background-size: 80px 80px;
    background-position: 0 40px;
  }
  .instruction__description-item-one::before {
    content: "1";
    font-size: 280px;
    width: 112px;
    font-family: "Oswald", sans-serif;
    color: #f2f2f2;
    bottom: -68px;
    left: 118px;
    z-index: -1;
    position: absolute;
  }
}
.instruction__description-item-two {
  background-image: url("../img/instruction-list/item-two.jpg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .instruction__description-item-two {
    background-image: url("../img/instruction-list/item-two-big.jpg");
    background-size: 80px 80px;
    background-position: 0 40px;
  }
  .instruction__description-item-two::before {
    content: "2";
    font-size: 280px;
    width: 112px;
    font-family: "Oswald", sans-serif;
    color: #f2f2f2;
    bottom: -68px;
    left: 118px;
    z-index: -1;
    position: absolute;
  }
}
.instruction__description-item-three {
  background-image: url("../img/instruction-list/item-three.jpg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .instruction__description-item-three {
    background-image: url("../img/instruction-list/item-three-big.jpg");
    background-size: 80px 80px;
    background-position: 0 40px;
  }
  .instruction__description-item-three::before {
    content: "3";
    font-size: 280px;
    width: 112px;
    font-family: "Oswald", sans-serif;
    color: #f2f2f2;
    bottom: -68px;
    left: 118px;
    z-index: -1;
    position: absolute;
  }
}
.instruction__description-item-four {
  background-image: url("../img/instruction-list/item-four.jpg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .instruction__description-item-four {
    background-image: url("../img/instruction-list/item-four-big.jpg");
    background-size: 80px 80px;
    background-position: 0 40px;
  }
  .instruction__description-item-four::before {
    content: "4";
    font-size: 280px;
    width: 112px;
    font-family: "Oswald", sans-serif;
    color: #f2f2f2;
    bottom: -68px;
    left: 118px;
    z-index: -1;
    position: absolute;
  }
}
.instruction__description {
  margin: 0;
  margin-left: 80px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .instruction__description {
    font-size: 16px;
    line-height: 24px;
    padding: 111px 14px 57px 0;
    margin-left: 0;
  }
}
.special {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .special {
    background-image: linear-gradient(#ffffff 576px, #eaeaea 81px);
  }
}
@media (min-width: 1440px) {
  .special {
    background-image: linear-gradient(#ffffff 76px, #eaeaea 64px);
  }
}
.special__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 43px 20px;
}
@media (min-width: 768px) {
  .special__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    padding-bottom: 56px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .special__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 110px;
    padding-bottom: 75px;
    margin: 0 auto;
    width: 1220px;
  }
}
.special__text-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .special__text-wrapper {
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .special__text-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.special__results-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .special__results-block {
    flex-direction: row;
    align-items: unset;
  }
  .special__results-block .special__results {
    margin-right: 120px;
  }
}
@media (min-width: 1440px) {
  .special__results-block {
    flex-direction: column;
  }
}
.special__title {
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .special__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .special__title {
    margin-bottom: 76px;
    text-align: start;
  }
}
.special__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
  width: 280px;
}
@media (min-width: 768px) {
  .special__description {
    width: 708px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .special__description {
    width: 436px;
    margin-bottom: 69px;
  }
}
.special__wrapper-slider {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .special__wrapper-slider {
    position: relative;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .special__wrapper-slider {
    top: 0;
  }
}
.special__image-wrapper {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .special__image-wrapper {
    display: flex;
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .special__image-wrapper {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .special__image-cat {
    width: 296px;
    height: 511px;
  }
}
.special__image-after {
  display: none;
}
@media (min-width: 768px) {
  .special__image-after {
    display: block;
  }
}
.special-subtitle {
  font-family: "Oswald", sans-serif;
  font-style: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .special-subtitle {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-top: 11px;
  }
}
@media (min-width: 1440px) {
  .special-subtitle {
    width: 327px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .special-subtitle_price {
    display: inline-block;
    margin-top: 9px;
  }
}
@media (min-width: 1440px) {
  .special-subtitle_price {
    margin-top: 0;
  }
}
.results-list {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}
.result-list {
  margin: 0;
  margin-right: 32px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding-top: 14px;
  padding-left: 6px;
}
.result-list:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .result-list {
    margin-right: 42px;
    width: 162px;
    height: 77px;
    text-align: center;
  }
}
.results-list__results {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .results-list__results {
    font-size: 30px;
    line-height: 37px;
    margin: 0;
    padding: 15px 30px 11px 25px;
  }
}
.results-list__results-description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
  padding: 0 23px;
}
@media (min-width: 768px) {
  .results-list__results-description {
    padding: 0;
    font-size: 14px;
    line-height: 14px;
  }
}
.range-button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 13px;
  margin-left: 13px;
  padding: 0;
  border: none;
  background-color: inherit;
}
@media (min-width: 768px) {
  .range-button {
    margin-left: 17px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed #cdcdcd;
  }
}
.range-changes input[type="range"] {
  width: 86px;
  height: 14px;
  border: 1 solid #cdcdcd;
}
@media (min-width: 768px) {
  .range-changes input[type="range"] {
    width: 426px;
    border: 6px solid #cdcdcd;
    background-color: #cdcdcd;
  }
}
.main-inner-container {
  overflow: hidden;
}
.main-inner-container__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 28px 40px 0 20px;
  margin: 0;
  margin-bottom: 49px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-inner-container__title {
    font-size: 60px;
    line-height: 60px;
    padding: 64px 0 163px 30px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .main-inner-container__title {
    padding: 74px 0 165px 110px;
  }
}
.catalog__product-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .catalog__product-wrapper {
    padding: 0 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .catalog__product-wrapper {
    padding: 0 110px;
    justify-content: unset;
  }
}
.catalog__product {
  padding-top: 8px;
  margin-bottom: 35px;
  position: relative;
}
.catalog__product::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  top: -10px;
  right: -20px;
}
@media (min-width: 768px) {
  .catalog__product {
    padding: 0 36px 66px 36px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catalog__product::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .catalog__product {
    padding: 0 30px 113px 35px;
    margin-bottom: 143px;
    margin-right: 80px;
  }
  .catalog__product:nth-child(4n) {
    margin-right: 0;
  }
}
.catalog__type {
  display: flex;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .catalog__type {
    flex-direction: column;
    align-items: center;
    margin-top: -73px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1440px) {
  .catalog__type {
    margin-top: -80px;
  }
}
.catalog__title-link {
  font-family: "Oswald", sans-serif;
  width: 76px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}
@media (min-width: 768px) {
  .catalog__title-link {
    width: 155px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-left: 41px;
  }
}
@media (min-width: 1440px) {
  .catalog__title-link {
    width: 145px;
    margin-left: 20px;
    line-height: 21px;
  }
}
.catalog__image-link {
  text-decoration: none;
}
@media (min-width: 768px) {
  .catalog__image-link {
    margin-bottom: 34px;
  }
}
@media (min-width: 768px) {
  .catalog__image-small {
    width: 161px;
    height: 171px;
  }
}
@media (min-width: 768px) {
  .catalog__image-big {
    width: 168px;
    height: 200px;
  }
}
.catalog__product-order {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}
@media (min-width: 768px) {
  .catalog__product-order {
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .catalog__product-order {
    width: 168px;
  }
}
.catalog__show-more {
  position: relative;
}
.catalog__show-more::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  top: -11px;
  right: -20px;
}
.catalog__show-more::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../img/catalog-plus.svg");
  top: 11px;
  left: 125px;
}
@media (min-width: 768px) {
  .catalog__show-more {
    border: none;
  }
  .catalog__show-more::before {
    display: none;
  }
  .catalog__show-more::after {
    top: 52px;
    left: 132px;
    width: 60px;
    height: 60px;
    background-image: url("../img/catalog-big-plus.svg");
  }
}
@media (min-width: 1440px) {
  .catalog__show-more::after {
    top: 51px;
    left: 92px;
  }
}
.catalog__show-more-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 15px 25px 20px;
  position: relative;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog__show-more-contain {
    padding: 163px 37px 38px 37px;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .catalog__show-more-contain {
    padding: 158px 39px 41px;
  }
}
.catalog__show-more-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .catalog__show-more-title {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    text-align: center;
    margin-bottom: 23px;
  }
}
.catalog__show-more-subtitle {
  font-family: "Arial", sans-serif;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog__show-more-subtitle {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 167px;
    margin-bottom: 49px;
  }
}
@media (min-width: 1440px) {
  .catalog__show-more-subtitle {
    margin-bottom: 77px;
  }
}
.catalog__show-more-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  width: 279px;
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 94px;
}
@media (min-width: 768px) {
  .catalog__show-more-link {
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .catalog__show-more-link {
    width: 168px;
    line-height: 0;
    padding: 20px 39px;
  }
}
.catalog__show-more-link:hover {
  background-color: #ebebeb;
}
.catalog__show-more-link:active {
  background-color: #ebebeb;
}
.catalog__show-more-link:active span {
  opacity: 0.3;
  color: #444444;
}
.properties-list {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-rows: repeat(3, min-content);
  grid-column: 2 / 3;
  margin: 0;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .properties-list {
    font-size: 16px;
    grid-template-columns: repeat(2, 124px);
    margin-top: 21px;
  }
}
@media (min-width: 1440px) {
  .properties-list {
    grid-template-columns: repeat(2, 84px);
  }
}
@media (min-width: 768px) {
  .properties-list__name {
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.properties-list__value {
  margin: 0;
  text-align: right;
}
@media (min-width: 768px) {
  .properties-list__value {
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.other-product {
  margin-bottom: 35px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .other-product {
    padding: 0 30px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1440px) {
  .other-product {
    margin-bottom: 86px;
    padding: 0 110px;
  }
}
.other-product__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .other-product__wrapper {
    border: none;
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 0 79px;
  }
}
.other-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .other-product__list {
    border: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .other-product__list {
    margin: 0;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
}
.other-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  padding: 25px 44px 0 0;
  font-size: 24px;
  line-height: 24px;
  position: relative;
}
.other-product__title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  top: -2px;
  right: -20px;
}
.other-product__title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100vw;
  background-color: #68b738;
  top: 39px;
  left: 249px;
  z-index: -1;
}
@media (min-width: 768px) {
  .other-product__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 80px;
  }
  .other-product__title::before {
    top: 25px;
    left: 374px;
  }
  .other-product__title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    background-color: #68b738;
    top: 25px;
    right: 101%;
  }
}
@media (min-width: 1440px) {
  .other-product__title {
    margin-bottom: 81px;
  }
  .other-product__title::before {
    right: -110px;
  }
  .other-product__title::after {
    width: 70px;
    left: -110px;
  }
}
.other-product__item {
  padding-top: 12px;
  margin-bottom: 20px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .other-product__item {
    padding: 25px 36px 28px 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .other-product__item:first-child {
    border-top: 0;
  }
}
@media (min-width: 1440px) {
  .other-product__item {
    align-items: center;
    padding: 15px 0 17px 0;
  }
}
.other-product__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  color: #222222;
}
@media (min-width: 768px) {
  .other-product__item-title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .other-product__item-title {
    margin: 0;
  }
}
.other-product__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
  padding: 10px 109px;
}
@media (min-width: 768px) {
  .other-product__button {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .other-product__button {
    width: 244px;
  }
}
.properties-other-product {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 15px;
  color: #444444;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .properties-other-product {
    font-size: 16px;
    line-height: 20px;
    justify-content: unset;
  }
}
@media (min-width: 1440px) {
  .properties-other-product {
    margin: 0;
  }
}
.gift {
  height: 289px;
  position: relative;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-cat-background.jpg");
  background-repeat: no-repeat;
  width: 280px;
  z-index: -2;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .gift {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-cat-background@2x.jpg");
    background-size: 280px 289px;
  }
}
.gift::after {
  content: "";
  position: absolute;
  background-image: url("../img/catalog-icon-gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  top: 58px;
  left: 101px;
}
@media (min-width: 768px) {
  .gift {
    height: 202px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-tablet-cat-background.jpg");
    background-repeat: no-repeat;
    width: 707px;
    z-index: -2;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .gift {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-tablet-cat-background@2x.jpg");
    background-size: 707px 202px;
  }
}
@media (min-width: 1440px) {
  .gift {
    height: 288px;
    width: 245px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-desktop-cat-background.jpg");
  }
  .gift::after {
    background-image: url("../img/catalog-icon-gift.svg");
    top: 55px;
    left: 81px;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .gift {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-desktop-cat-background@2x.jpg");
    background-size: 245px 288px;
  }
}
.gift__text-link {
  font-family: "Arial", sans-serif;
  display: block;
  margin: 0 auto;
  width: 161px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 186px 0 43px 0;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .gift__text-link {
    position: absolute;
    padding: 0;
    top: 71px;
    right: 74px;
  }
}
@media (min-width: 1440px) {
  .gift__text-link {
    top: 184px;
    right: 43px;
  }
}
.program {
  overflow: hidden;
}
.program__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 40px 0 20px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 64px;
    margin-bottom: 54px;
    padding: 0;
    padding-left: 70px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .program__title {
    padding-left: 110px;
    margin-top: 74px;
    margin-bottom: 56px;
  }
}
.program__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
  display: block;
  margin-bottom: 39px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .program__subtitle {
    font-size: 20px;
    line-height: 30px;
    padding-left: 70px;
    margin: 0;
    margin-bottom: 66px;
    width: 323px;
  }
}
@media (min-width: 1440px) {
  .program__subtitle {
    padding-left: 110px;
  }
}
.program__postscript {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;
  display: block;
  text-align: center;
  text-transform: none;
}
@media (min-width: 768px) {
  .program__postscript {
    font-size: 16px;
    margin-top: 41px;
  }
}
@media (min-width: 1440px) {
  .program__postscript {
    font-size: 16px;
  }
}
.program-form {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .program-form {
    font-size: 20px;
    line-height: 30px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .program-form {
    padding: 0 110px;
  }
}
@media (min-width: 1440px) {
  .program-form__cat-data {
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
  }
}
.program-form__info-owner {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .program-form__info-owner {
    margin-bottom: 65px;
  }
}
@media (min-width: 768px) {
  .program-form__offer {
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .program-form__offer {
    margin-bottom: 90px;
  }
}
.program-form__comment {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .program-form__comment {
    margin-bottom: 65px;
  }
}
@media (min-width: 768px) {
  .program-form__other-product {
    margin-bottom: 72px;
  }
}
@media (min-width: 768px) {
  .program-form__text-contain {
    display: flex;
  }
}
.program-form__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
  border: none;
  width: 280px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .program-form__button {
    width: 282px;
    margin-top: 31px;
    padding: 13px 42px;
    margin-right: 61px;
  }
}
@media (min-width: 1440px) {
  .program-form__button {
    width: 568px;
    margin-right: 84px;
  }
}
.information-cat {
  padding-bottom: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.information-cat::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  bottom: 12px;
  right: -20px;
}
@media (min-width: 768px) {
  .information-cat {
    margin-bottom: 47px;
  }
  .information-cat::before {
    display: none;
  }
}
.information-cat label {
  color: #444444;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .information-cat label {
    margin-bottom: 20px;
  }
}
.information-cat input {
  min-height: 40px;
  padding-left: 13px;
  margin-left: 5px;
  flex-grow: 1;
  border: none;
  outline: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .information-cat input {
    padding-left: 18px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .information-cat input {
    padding-left: 20px;
    margin-left: 13px;
  }
}
.offer-select {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 17px;
  position: relative;
  box-sizing: border-box;
}
.offer-select::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  bottom: 0;
  right: -20px;
}
@media (min-width: 768px) {
  .offer-select {
    padding-left: 30px;
    border: 1px solid #e7e7e7;
    padding-bottom: 0;
  }
  .offer-select::before {
    display: none;
  }
}
.offer-select__label {
  color: #222222;
  padding-left: 45px;
  margin-bottom: 19px;
  position: relative;
}
@media (min-width: 768px) {
  .offer-select__label {
    padding-left: 59px;
  }
}
.offer-select__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  left: 0;
  top: -8px;
}
@media (min-width: 768px) {
  .offer-select__control-mark {
    width: 40px;
    height: 40px;
    top: -10px;
  }
}
.offer-select__field[type="radio"]:checked + .offer-select__control-mark::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #68b738;
  top: 8px;
  left: 8px;
}
@media (min-width: 768px) {
  .offer-select__field[type="radio"]:checked + .offer-select__control-mark::before {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }
}
.information-owner__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin: 0;
  margin-bottom: 35px;
  padding-top: 29px;
  position: relative;
}
.information-owner__title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100vw;
  background-color: #68b738;
  top: 44px;
  left: 221px;
  z-index: -1;
}
@media (min-width: 768px) {
  .information-owner__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding: 0;
  }
  .information-owner__title::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    top: 23px;
    width: 30px;
    left: -70px;
    z-index: -1;
  }
  .information-owner__title::before {
    top: 23px;
    left: 553px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .information-owner__title::after {
    top: 23px;
    width: 70px;
    left: -110px;
  }
  .information-owner__title::before {
    background-color: #68b738;
    top: 23px;
    left: 550px;
  }
}
@media (min-width: 1440px) {
  .information-owner__wrapper {
    display: grid;
    grid-template-columns: 559px 572px;
    column-gap: 78px;
  }
}
.information-owner label {
  color: #444444;
  display: flex;
  align-items: baseline;
}
.information-owner input {
  height: 40px;
  padding-left: 14px;
  margin-left: 5px;
  margin-bottom: 14px;
  flex-grow: 1;
  border: none;
  outline: 1px solid #cdcdcd;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .information-owner input {
    padding-left: 21px;
    margin-left: 18px;
  }
}
.information-owner__email-field {
  position: relative;
  background-image: url("../img/form-email-icon.svg");
  background-repeat: no-repeat;
  background-position: 190px center;
}
@media (min-width: 768px) {
  .information-owner__email-field {
    background-position: 514px center;
  }
}
.information-owner__tel-field {
  position: relative;
  background-image: url("../img/form-phone-icon.svg");
  background-repeat: no-repeat;
  background-position: 171px center;
}
@media (min-width: 768px) {
  .information-owner__tel-field {
    background-position: 498px center;
  }
}
.information-owner__email-field::placeholder,
.information-owner__tel-field::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .information-owner__email-field::placeholder,
  .information-owner__tel-field::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
.other-product-list__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 35px;
  position: relative;
}
.other-product-list__title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100vw;
  background-color: #68b738;
  top: 14px;
  left: 164px;
  z-index: -1;
}
@media (min-width: 768px) {
  .other-product-list__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }
  .other-product-list__title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #68b738;
    top: 23px;
    left: -70px;
    z-index: -1;
  }
  .other-product-list__title::before {
    background-color: #68b738;
    top: 23px;
    left: 289px;
  }
}
@media (min-width: 1440px) {
  .other-product-list__title::after {
    width: 70px;
    top: 23px;
    left: -110px;
  }
  .other-product-list__title::before {
    top: 23px;
    right: -110px;
  }
}
.other-product-list__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .other-product-list__wrapper {
    display: grid;
    grid-template-columns: 282px 242px;
    gap: 32px 61px;
  }
}
@media (min-width: 1440px) {
  .other-product-list__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.other-product-list__label {
  margin-bottom: 20px;
  padding-left: 44px;
  position: relative;
}
@media (min-width: 768px) {
  .other-product-list__label {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    padding-left: 66px;
  }
}
@media (min-width: 1440px) {
  .other-product-list__label {
    padding-left: 59px;
    width: 221px;
    box-sizing: border-box;
  }
}
.other-product-list__field-mark {
  position: absolute;
  width: 26px;
  height: 26px;
  outline: 1px solid #cdcdcd;
  left: 0;
  top: -4px;
}
@media (min-width: 768px) {
  .other-product-list__field-mark {
    width: 40px;
    height: 40px;
  }
}
.other-product-list__field[type="checkbox"]:checked + .other-product-list__field-mark::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../../../img/form-check-icon.svg");
  background-repeat: no-repeat;
  top: 6px;
  left: 4px;
}
@media (min-width: 768px) {
  .other-product-list__field[type="checkbox"]:checked + .other-product-list__field-mark::before {
    background-image: url("../../../img/form-tablet-check-icon.svg");
    width: 26px;
    height: 26px;
    top: 7px;
    left: 7px;
  }
}
.comment-text__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 35px;
  position: relative;
}
.comment-text__title::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #68b738;
  width: 100vw;
  top: 15px;
  left: 143px;
  z-index: -1;
}
@media (min-width: 768px) {
  .comment-text__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
  .comment-text__title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #68b738;
    top: 23px;
    left: -70px;
    z-index: -1;
  }
  .comment-text__title::before {
    top: 23px;
    left: 220px;
  }
}
@media (min-width: 1440px) {
  .comment-text__title::after {
    width: 70px;
    top: 23px;
    left: -110px;
  }
  .comment-text__title::before {
    background-color: #68b738;
    right: -110px;
  }
}
.comment-text__text {
  width: 100%;
  min-height: 150px;
  font-family: "Oswald", sans-serif;
  line-height: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: 1px solid #e7e7e7;
  padding-top: 9px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .comment-text__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 19px;
    text-align: start;
  }
}
/*# sourceMappingURL=style.css.map */
